<div class="customModal">
	<div style="position: relative">
		{{headerName}} {{headerLastName}}
		<span class="closeButton">x</span>
	</div>

	<ul class="modal-list">
		<li>
			<strong>Age:</strong> {{age}}
		</li>
		<li>
			<strong>Street:</strong> {{street}}
		</li>
		<li>
			<strong>City:</strong> {{city}}
		</li>
		<li>
			<strong>State:</strong> {{state}}
		</li>
		<li>
			<strong>State:</strong> {{postal}}
		</li>
		<li>
			<strong>State:</strong> {{postal}}
		</li>
		<li>
			<strong>Home Number:</strong> {{homeNumber}}
		</li>
		<li>
			<strong>Fax Number:</strong> {{faxNumber}}
		</li>
	</ul>

	<div>
		<a href="">Close window</a>
		<a href="">Submit</a>
	</div>
</div>