<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
	<meta charset="UTF-8">
	<title>Angular Courses</title>
	<link rel="stylesheet" href="style/app.css"/>
</head>
<body>
<div>
	<h1>Lesson 1. Homework</h1>

	<div ng-controller="mainCtrl">
		<button id="showHide"
		        change-text
		        ng-class="{true: 'active'}[showContent]"
		        ng-click="switchStatus()">
			Show lesson content
		</button>

		<div ng-if="showContent">
			<div class="filterPerson_wrapper">
				<input ng-model="type" id="filterPerson" type="text" value=""
				       placeholder="Enter text to filter persons"/>
			</div>
			<table class="tableContainer">
				<thead>
				<tr>
					<th>First name</th>
					<th>Last name</th>
					<th>Age</th>
					<th>City</th>
					<th class="table-decor">
						<select
								ng-init="typeSelect = values[0]"
								ng-model="typeSelect"
								ng-options="option.name for option in values">
						</select>
					</th>
					<th class="table-decor">Actions</th>
				</tr>
				</thead>
				<tbody ng-repeat="item in data | filter:type">
				<tr>
					<td>{{item.firstName}}</td>
					<td>{{item.lastName}}</td>
					<td>{{item.age}}</td>
					<td>{{item.address.city}}</td>
					<td>{{item.phoneNumber[typeSelect.id].number}}</td>
					<td>
						<button ng-click="showModal(item)">A</button>
					</td>
				</tr>
				</tbody>
				<custom-modal
						ng-if="modal"
						header-name="selectedRow.firstName"
						header-last-name="selectedRow.lastName"
						street="selectedRow.address.streetAddress"
						age="selectedRow.age"
						city="selectedRow.address.city"
						state="selectedRow.address.state"
						postal="selectedRow.address.postalCode"
						home-number="selectedRow.phoneNumber[0].number"
						fax-number="selectedRow.phoneNumber[1].number">
				</custom-modal>
			</table>
		</div>
	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
<script src="app/app.js"></script>
<script src="app/controller/controller.js"></script>
<script src="app/directive/directive.js"></script>
</body>
</html>