html {
    font-family: sans-serif;
}

.tableContainer {
    position: relative;
}

body > div {
    width: 800px;
    margin: auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.customModal {
    position: absolute;
    width: 520px;
    height: 260px;
    background: white;
    box-shadow: 1px 1px 10px #444;
    border-radius: 10px;
    left: 25%;
    z-index: 2;
}

.closeButton {
    position: absolute;
    right: 20px;
}

#showHide {
    width: 200px;
    height: 30px;
    margin-bottom: 30px;
    background: none;
    border: 1px solid lightgray;
    border-radius: 5px;
}

#showHide.active {
    color: white;
    background: #337ab7;
}

#filterPerson {
    width: 195px;
    height: 25px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding-left: 5px;
}

.filterPerson_wrapper {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 15px 0;
}

table {
    width: 100%;
    margin-top: 20px;
    font-size: .9em;
    text-align: left;
    border-collapse: collapse;
}

table select {
    width: 165px;
    height: 25px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding-left: 5px;
}

thead {
    font-weight: bold;
    color: #337ab7;
}

thead th {
    border-bottom: 2px solid lightgray;
    padding-bottom: 12px;
}

tbody td {
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
    height: 25px;
}

.table-decor {
    color: #000000;
}